/* start variable */
:root {
    --main-color:#ff0157;
}
/* end variable */
/* start global rols */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #333; */
}
.contener {
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
@media (min-width:768px) {
    .contener {
        width:750px;
    }
}
@media (min-width:992px) {
    .contener {
        width:970px;
    }
}
@media (min-width:1200px) {
    .contener {
        width:1170px;
    }
}
/* end global rols */
/* start main heading */
.main-heading {
    text-align: center;
    margin-bottom:50px;
}
.main-heading h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin:0px 0px 18px;
    font-weight: normal;
}
.main-heading h2 span {
    font-size: 40px;
    font-weight: bold;
    color:var(--main-color);
}
/* end main heading */
/* start header */
header {
    position:absolute;
    left:0;
    width:100%;
    z-index: 2;
}
header .contener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 30px;
}
header .logo {
    color:#fff;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
header .logo span {
    color:var(--main-color);
}

header nav {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li a {
    color:#fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    margin-left: 30px;
    transition: 0.5s;
}
header nav ul li a:hover {
    color:var(--main-color);
}
header .main-btn {
    width:25px;
    height:25px;
    margin-right:30px;
}
header .main-btn span {
    width:100%;
    height:3px;
    background-color: #fff;
    display: block;
    margin-bottom: 7px;
    transition: 0.5s;
}
header .main-btn:hover span:first-child {
    transform:rotate(40deg) translatey(13px);
}
header .main-btn:hover span:nth-child(2) {
    opacity: 0;
}
header .main-btn:hover span:last-child {
    transform:rotate(-40deg) translatey(-13px);
}
@media (min-width:768px) {
    header .main-btn {
        display: none;
    }
}
@media (max-width:767px) {
    header nav {
        position:absolute;
        top:100%;
        left:0px;
        width:100%;
        background-color: #fff;
        justify-content: center;
        padding:10px 20px;
        display: none;
    }
    /* ينحذف هذا عندما نتعلم الجافا */
    header .main-btn:hover ~ nav {
        display: block;
    }
    /* ينحذف هذا عندما نتعلم الجافا */
    header nav ul {
        display: block;
    }
    header nav ul li a {
        font-size: 20px;
        display: block;
        padding:10px;
        margin:10px 0px;
        text-align: center;
        background-color: var(--main-color);
        color:#fff;
    }
    header nav ul li a:hover {
        color:#fff;
    }
}
/* end header */
/* start landing */
.landing {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position:center;
    width:100%;
    height:100vh;
    position:relative;
}
.landing .contener .text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fff;
    width:650px;
    max-width:100%;
}
.landing .contener .text h1 {
    margin:0px 0px 10px;
    font-size: 60px;
    text-transform: capitalize;
}
.landing .contener .text p {
    line-height: 1.5;
    margin-bottom:10px;
}
.landing .contener .text a {
    display: block;
    width:fit-content;
    margin:20px auto 0px;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-color);
    padding:12px 20px;
    letter-spacing: 1px;
    transition:0.5s;
}
.landing .contener .text a:hover {
    letter-spacing: 4px;
}
/* end landing */
/* start about */
.about {
    padding:100px 0px;
}
.about .contener {
    display: flex;
    align-items: center;
}
@media (max-width:991px) {
    .about .contener {
        flex-direction: column;
    }
}
.about .contener .info,
.about .contener .image {
    flex:1;
}
.about .contener .info h2 {
    margin:0px 0px 10px;
    font-size: 30px;
    font-weight: normal;
}
.about .contener .info h2 span {
    color:var(--main-color);
    font-weight: bold;
    font-size: 40px;
}
.about .contener .info p:first-of-type {
    line-height: 1.5;
    margin-bottom:25px;
}
.about .contener .info p:last-of-type {
    line-height: 1.5;
}
.about .contener .image {
    text-align: center;
    flex-basis: 100px;
    position:relative;
    top:40px;
}
.about .contener .image img {
    width:460px;
    height:350px;
    max-width: 100%;
}
/* @media (max-width:991px) {
    .about .contener .image {
        margin-top:40px;
    }
} */
/* end about */
/* start menu */
.menu {
    padding:50px 0px;
}
.menu .box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu .box .card {
    padding:15px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    margin:0px 15px 30px;
    border-radius: 5px;
    width:300px;
    max-width:100%;
    height:315px;
}
.menu .box .card img {
    width:270px;
    max-width:100%;
    height:250px;
}
.menu .box .card p {
    margin-top:10px;
    font-weight: 500;
}
.menu .contener .menu-btn {
    display: block;
    width:fit-content;
    margin:30px auto;
    background-color: var(--main-color);
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding:12px 20px;
    letter-spacing: 1px;
    transition:0.5s;
}
.menu .contener .menu-btn:hover {
    transform: scalex(1.2);
}
/* end menu */
/* start export */
.export {
    padding-top:50px;
    padding-bottom:100px;
}
.export .box {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.export .box .card {
    margin:15px;
    width:250px;
}
.export .box .card img {
    width:250px;
    max-width:100%;
    height: 335px;
}
.export .box .card p {
    text-transform: capitalize;
    margin:10px 0px 0px 5px;
}
/* end export */
/* start testimonials */
.testimonials {
    padding:80px 0px;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
}
.testimonials .main-heading {
    color:#fff;
    margin-bottom: 70px;
}
.testimonials .testimon {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap:30px;
}
@media (max-width:767px) {
    .testimonials .testimon {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
.testimonials .testimon .card {
    background-color: #fff;
    text-align: center;
    padding:40px;
}
.testimonials .testimon .card img {
    width:100px;
    height:100px;
    border-radius: 50%;
    margin-bottom:20px;
}
.testimonials .testimon .card p {
    line-height: 1.6;
    margin-bottom:20px;
    font-style: italic;
}
.testimonials .testimon .card a {
    text-decoration: none;
    text-transform: capitalize;
    color:var(--main-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1px;
}
/* end testimonials */
/* start contact */
.contact {
    padding-top:80px;
    padding-bottom:100px;
    background-image: url("../images/bg3.jpg");
    background-size:cover;
}
@media (max-width:767px) {
    .contact {
        background-position:25% 50%;
    }
}
.contact form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:500px;
    max-width:100%;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    padding:70px 40px 100px;
    border-radius: 10px;
    background-color: #fff;
}
.contact form h3 {
    text-transform: capitalize;
}
.contact form .but {
    width:100%;
    max-width:100%;
    padding:10px;
    margin-top:25px;
    border-color:#000;
    border-style: solid;
    border-width:1px;
    outline:none;
    border-radius: 2px;
}
.contact form :nth-child(4) {
    padding:10px 10px 50px ;
    resize:none;
}
.contact form input[type="submit"] {
    display: block;
    width:fit-content;
    border:none;
    background-color: var(--main-color);
    color:#fff;
    text-transform: uppercase;
    padding:12px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition:0.5s;
}
.contact form input[type="submit"]:hover {
    transform: scalex(1.2);
}
/* end contact */
/* start footer */
footer {
    padding:15px;
    text-align: center;
    box-shadow: 0px -2px 20px rgb(0 0 0 / 10%);
}
footer p {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
footer p span {
    color:var(--main-color);
}
/* end footer */